html,body{
	background-color: #EFF0F0;
	font-family: Roboto;
}

blockquote{
	background-color: #FFF;
	border: 0px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

h1{
	margin-top: 0px;
}

h1, h2, h3, h4{
	margin-bottom: 25px;
}

p{
	margin-bottom: 25px;
	line-height: 1.7;
	font-size: 16px;
}
li>p{
	margin-bottom: 15px;
}
ul li:last-child p{
	margin-bottom: 25px;
}
.strong{
	font-weight: bold;
}
.navbar-brand{
    padding: 10px 15px;
}
.navbar-brand img{
	max-height: 30px;
}
nav.navbar.navbar-fixed-top.navbar-inverse{
	border-bottom: 0px;
	padding-top: 3.5px;
}

.navbar-inverse .navbar-nav>li>a{

	border-bottom: 3.5px solid #222;
	font-weight: 500;
	font-size: 13px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: inherit;
	color: #FFF;
	border-bottom: 3.5px solid #3BBBD1 ;
}
nav.navbar.navbar-fixed-top.navbar-inverse>.container{
	padding-left: 0px;
}

.sublist-group{
	display: none;
}
.sublist-group .list-group-item a{  
    margin: 0px 0px;
    padding-left: 20px;
}
.sublist-group li:first-child{ 
	margin-top: 5px;
}
.sublist-group:last-child{ 
	margin-bottom: 0px;
}
.list-group-item{	
    border: 0px;
    border-radius: 0px !important;
    margin: 0px;

    background-color: transparent; 
    font-weight: normal;
    padding: 0px;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
	background-color: transparent;
}
#sidebar{
	padding-right: 0px;
}
#content{
	float:right;
	padding-left: 0px;
}
#content a{
	color:#3BBBD1;
}
#content a:hover{
	text-decoration: none;
	opacity: 0.7;
}
.list-group-item a{	
    padding: 0px;
    color: #767676;
}
.list-group-item > a:focus:first-child{
	text-decoration: none;
}
.list-group-item.active > a:first-child, .list-group-item > a:hover:first-child{	
    color: #3BBBD1;
    background-color: transparent;    
    border: 0px;
    border-left: 3px solid #3BBBD1 ;
    margin-left: -8px;
    padding-left: 5px;
    text-decoration: none;
}

.sublist-group > .list-group-item.active > a:first-child, .sublist-group > .list-group-item > a:focus:first-child, .sublist-group > .list-group-item > a:hover:first-child{
    padding-left: 25px;
    margin-left: -8px;
}
.logo-exemplo{
	margin: 0px 0px 19px -6px;
}

.logo-exemplo img{
	max-height: 40px;
}
#email-exemplo p{
	margin-bottom: 19px;
}

#email-exemplo p:last-of-type{
	margin-bottom: 0px;
}

.btn{
	text-transform: uppercase;
	color: #FFF;
	background-color: #3BBBD1;
}

.btn:hover,.btn:focus,.btn:active {
	color: #3BBBD1 ;
	background-color: transparent;

}

section.row{	
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.logotipo{
	display: table;
	padding: 0px;
}
.logotipo img{
	max-width: 100%;
	margin: auto;
}

.logotipo p:first-of-type{
	text-align: left;
	margin-bottom: 0px;
    display: table-row;
}

.download-p{
	font-size: 12px;
	margin-bottom: 15px;
    display: table-row;
}
.logotipo-box{
	padding: 30% 5%;
    display: table-cell;
    vertical-align: middle;
	margin-bottom: 10px;
}

#logotipo1{
	background-color: #FFF;
}
#logotipo3{
	background-color: #3F6BB3;
}

#raleway-container{
	font-family: Raleway;
	padding-left: 0px;
}

#tipografias>p:first-of-type{
	margin:0;
}
.tipografia-titulo{
	font-size: 3em;
	margin: 0;
}
.tipografia-exemplo{
	font-size: 1.5em;
	margin: 0px;
}

.raleway-light{font-weight: 300;}
.raleway-regular{font-weight: 400;}
.raleway-medium{font-weight: 500;}
.raleway-semibold{font-weight: 600;}
.raleway-bold{font-weight: 700;}
.raleway-heavy{font-weight: 900;}

.roboto-thin{font-weight: 100;}
.roboto-light{font-weight: 300;}
.roboto-regular{font-weight: 400;}
.roboto-medium{font-weight: 500;}
.roboto-bold{font-weight: 700;}
.roboto-black{font-weight: 800;}

.cor-box{
	height: 80px;
}

.cor_exemplo{
	padding: 0 100% 63px 0;
}
#azul-rock{
	background: #4967A9;
}
#cinza-rock{
	background: #5F625F;
}
#verde-rock{
	background: #4EA185;
}
#laranja-rock{
	background: #EA5550;
}
#amarelo-rock{
	background: #F1C40F;
}
#roxo-rock{
	background: #863B56;
}
#branco-rock{
	background: #EFF0F0;
}


footer{
	text-align: center;
	width: 100%;
	background-color: #c9c9c9;
	padding: 30px 0px;
	margin-top: 3%;
	height: 150px;
}

.content-footer{
	margin-bottom: 0px;
}
/*.anchor{
   display:block;
   height:50px;
   margin-top:-50px;
   visibility:hidden;
}*/

/* Responsivo */
@media (min-width: 768px){
	#sidebar{
		position: fixed;
	}
}