.anchor{
   display:block;
   height:50px; /* this is the height of your header */
   margin-top:-50px; /* this is again negative value of the height of your header */
   visibility:hidden;
}


@media (min-width: 768px){
	#sidebar{
		position: fixed;
	}
}